et_xmlfile==2.0.0
numpy>=1.23.5,<2.3.0; python_version < "3.11"
numpy>=2.3.0; python_version >= "3.11"
openpyxl==3.1.5
pandas==2.2.3
phonenumbers==9.0.2
PyMuPDF==1.25.5
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
